{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

<p><form action="/tracers/poscase" type="POST">
    <input type="submit" value="New Case" />
</form></p>

{% if success %}
    <p>Person who has tested positive</p>
    <p>NAME: {{name}}</p>
    <p>PHONE: {{phone}}</p>
    <p>DATE: {{date}}</p>

    <form action="/tracers/add_contact/", method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add Contact">
    </form>
{% else %}
    {{error}}
{% endif %}