{% load geojson_tags %}
{% load leaflet_tags %}
<html lang="en">
<head>


    <title>Contact tracing statistics</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
</head>
<body>
<h1>Contact Tracing statistics</h1>

<p>A nice radio field for the different kinds of area will be here soon </p>
{% for nice_name, var_name, data in areas %}
    <table>
        <thead>
        <tr>
            <th>{{ nice_name }}</th>
            <th>Cases in last 7 days</th>
            <th>Cases in entire pandemic</th>
        </tr>
        </thead>
        <tbody>
        {% for area in data %}
            <tr>
                <td>{{ area.name }}</td>
                <td>{{ area.alltime_count }}</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    <div id="{{ var_name }}-map" style="height: 40vh;"></div>
{% endfor %}

<script>
    const default_centre = [51, 0]
    const default_zoom = 7

    // from https://colorbrewer2.org/?type=sequential&scheme=YlOrRd&n=8
    let colours = ['#ffffcc', '#ffeda0', '#fed976', '#feb24c', '#fd8d3c', '#fc4e2a', '#e31a1c', '#b10026']

    // Choropleth code extensively based off https://leafletjs.com/examples/choropleth/,

    // might be worth improving
    function getColor(d) {
        return colours[d > 1000 ? 7 :
            d > 500 ? 6 :
                d > 200 ? 5 :
                    d > 100 ? 4 :
                        d > 50 ? 3 :
                            d > 20 ? 2 :
                                d > 10 ? 1 :
                                    0];
    }

    function style(feature) {
        return {
            fillColor: getColor(feature.properties.alltime_count),
            weight: 1,
            opacity: 1,
            color: 'white',
            dashArray: '3',
            fillOpacity: 0.7
        };
    }

    function highlightFeature(e) {
        let layer = e.target;
        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
    }

    {% for _, var_name,data in areas %}
        {
            const geojson_data =
                {{ data|geojsonfeature:"name,id,type,alltime_count:poly"|safe }};


            let map = L.map("{{ var_name }}-map").setView(default_centre, default_zoom)

            L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png?api_key=1a1a471a-99d2-4dd3-80e0-9d1fc70cd64e', {
                maxZoom: 20,
                attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
            }).addTo(map);


            let resetHighlight = (e) => {
                json.resetStyle(e.target);
            }

            let zoomToFeature = (e) => {
                map.fitBounds(e.target.getBounds());
            }

            let mapOnEachFeature = (feature, layer) => {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    //click: zoomToFeature
                });
                if (feature.properties && feature.properties.alltime_count) {
                    layer.bindPopup(`Cases in entire pandemic: ${feature.properties.alltime_count}`);
                }
            }
            let json = L.geoJson(geojson_data, {
                style: style,
                onEachFeature: mapOnEachFeature
            }).addTo(map);
        }

    {% endfor %}

</script>
</body>

</html>