{% load geojson_tags %}
<!doctype html>
<html class="h-100" lang="en">
<head>
    <title>Contact Tracing Statistics Portal</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static "apple-touch-icon.png" %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16x16.png" %}">
    <link rel="manifest" href="{% static "site.webmanifest" %}">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>

    <style>
        .number-highlight {
            font-size: 1.5rem;
            text-decoration: underline;
            text-decoration-style: dotted;
        }

        .datapoints-list {
            list-style-type: none;
        }

        .tab-content {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-bottom-left-radius: .25rem;
            border-bottom-right-radius: .25rem;
            padding: 10px;
            background-color: #fff;
        }

        .nav-tabs {
            margin-bottom: 0;
        }

        .tab-content > .active {
            background-color: #fff;
        }
    </style>
</head>
<body class="d-flex flex-column h-100">

{%  include "government/header.html"  with page_title="Contact Tracing Statistics Portal"%}

{% load govt_maths %}
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container" style="padding: 60px 15px 0">
        <h1 class="mt-5">Statistics for {{ time_description }}</h1>

        <div class="h-100 p-3 bg-light border rounded-3">
            <h2>Cases & Tests</h2>
            <p>In {{ time_description }}, there were:</p>
            <ul class="datapoints-list">
                <!-- TODO: make indicators real -->
                <li><span class="number-highlight">{{ num_pos }}</span> positive cases
                    <span data-bs-toggle="tooltip" data-bs-placement="right"
                          title="{% if num_pos >= prev_num_pos %}Increase{% else %}Decrease{% endif %} over {{ prev_time_description }}, from {{ prev_num_pos }} to {{ num_pos }}"
                          class="badge {% if num_pos >= prev_num_pos %}bg-danger{% else %}bg-success{% endif %} align-text-top">
                        {% if num_pos >= prev_num_pos %}▲{% else %}▼{% endif %}
                        {{ num_pos|sub:prev_num_pos }}
                    </span>
                    <div style="width:100%;">
                        <canvas id="pos_case_canvas"></canvas>
                    </div>
                </li>
                <li><span class="number-highlight">{{ num_tests }}</span> tests performed
                    <span data-bs-toggle="tooltip" data-bs-placement="right"
                          title="{% if num_tests >= prev_num_tests %}Increase{% else %}Decrease{% endif %} over  {{ prev_time_description }} from {{ prev_num_tests }} to {{ num_tests }}"
                          class="badge {% if num_tests >= prev_num_tests %}bg-success{% else %}bg-danger{% endif %} align-text-top">
                        {% if num_tests >= prev_num_tests %}▲{% else %}▼{% endif %}
                        {{ num_tests|sub:prev_num_tests }}
                    </span>
                    <div style="width:100%;">
                        <canvas id="num_tests_canvas"></canvas>
                    </div>
                </li>
                <li>a <span class="number-highlight">{{ pos_rate|floatformat:2 }}%</span> positivity rate
                    <span data-bs-toggle="tooltip" data-bs-placement="right"
                          title="{% if pos_rate >= prev_pos_rate %}Increase{% else %}Decrease{% endif %} over {{ prev_time_description }} from {{ prev_pos_rate|floatformat:2 }} to {{ pos_rate|floatformat:2 }}"
                          class="badge {% if pos_rate >= prev_pos_rate %}bg-danger{% else %}bg-success{% endif %} align-text-top">
                        {% if pos_rate >= prev_pos_rate %}▲{% else %}▼{% endif %}
                        {{ pos_rate|sub:prev_pos_rate|floatformat:2 }}%
                    </span>
                    <div style="width:100%;">
                        <canvas id="pos_rate_canvas"></canvas>
                    </div>
                </li>
            </ul>
            <p>Across different areas of the UK: </p>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-country-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-country"
                            type="button" role="tab" aria-controls="nav-country" aria-selected="true">Countries
                    </button>
                    <button class="nav-link" id="nav-region-tab" data-bs-toggle="tab" data-bs-target="#nav-region"
                            type="button" role="tab" aria-controls="nav-region" aria-selected="false">Regions
                    </button>
                    <button class="nav-link" id="nav-county-tab" data-bs-toggle="tab" data-bs-target="#nav-county"
                            type="button" role="tab" aria-controls="nav-county" aria-selected="false">Counties and
                        Unitary Authorities
                    </button>
                    <button class="nav-link" id="nav-la-tab" data-bs-toggle="tab" data-bs-target="#nav-la"
                            type="button" role="tab" aria-controls="nav-la" aria-selected="false">Local Authorities
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                {% for nice_name, var_name, data in areas %}
                    <div class="tab-pane fade {% if var_name == "country" %}show active{% endif %}"
                         id="nav-{{ var_name }}" role="tabpanel"
                         aria-labelledby="nav-{{ var_name }}-tab">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">{{ nice_name }}</th>
                                <th scope="col">Cases in the {{ time_description }}</th>
                                <th scope="col">Cases per 100,000</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for area in data %}
                                <tr>
                                    <th scope="row">{{ area.name }}</th>
                                    <td>{{ area.alltime_count }}</td>
                                    <td>{% if area.population == 0 %} Data unavailable {% else %} {{ area.alltime_count|per:area.population|floatformat:2 }} {% endif %} </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                        <div class="areas_map" id="{{ var_name }}-map" style="height: 40vh; width:100%"></div>
                    </div>
                {% endfor %}
            </div>

            <p class="mt-3">Across different age ranges:</p>
            <div style="width:100%;">
                <canvas id="age_chart_canvas"></canvas>
            </div>

        </div>

        <div class="h-100 p-3 bg-light border rounded-3 mt-3 mb-3">
            <h2>Contacts & Tracing</h2>
            <p>In {{ time_description }}, </p>
            <ul class="datapoints-list">
                <!-- TODO: make indicators real -->
                <li><span class="number-highlight">{{ cases_contacted|floatformat:2 }}%</span> of positive
                    cases were contacted by tracers
                    <span data-bs-toggle="tooltip" data-bs-placement="right"
                          title="{% if cases_contacted >= prev_cases_contacted %}Increase{% else %}Decrease{% endif %} over {{ prev_time_description }}, from {{ prev_cases_contacted|floatformat:2 }} to {{ cases_contacted|floatformat:2 }}"
                          class="badge {% if cases_contacted >= prev_cases_contacted %}bg-success{% else %}bg-danger{% endif %} align-text-top">
                        {% if cases_contacted >= prev_cases_contacted %}▲{% else %}▼{% endif %}
                        {{ cases_contacted|sub:prev_cases_contacted|floatformat:2 }}
                    </span>

                </li>
                <li><span class="number-highlight">{{ avg_contacts|floatformat:2 }}</span> was the average number of
                    contacts per positive case
                    <span data-bs-toggle="tooltip" data-bs-placement="right"
                          title="{% if avg_contacts >= prev_avg_contacts %}Increase{% else %}Decrease{% endif %} over  {{ prev_time_description }} from {{ prev_avg_contacts|floatformat:2 }} to {{ avg_contacts|floatformat:2 }}"
                          class="badge {% if avg_contacts >= prev_avg_contacts %}bg-danger{% else %}bg-success{% endif %} align-text-top">
                        {% if avg_contacts >= prev_avg_contacts %}▲{% else %}▼{% endif %}
                        {{ avg_contacts|sub:prev_avg_contacts|floatformat:2 }}
                    </span>

                </li>
                <li><span class="number-highlight">{{ max_contacts }}</span> was the largest number of contacts per
                    positive case
                    <span data-bs-toggle="tooltip" data-bs-placement="right"
                          title="{% if max_contacts >= prev_max_contacts %}Increase{% else %}Decrease{% endif %} over  {{ prev_time_description }} from {{ prev_max_contacts }} to {{ max_contacts }}"
                          class="badge {% if max_contacts >= prev_max_contacts %}bg-danger{% else %}bg-success{% endif %} align-text-top">
                        {% if max_contacts >= prev_max_contacts %}▲{% else %}▼{% endif %}
                        {{ max_contacts|sub:prev_max_contacts }}
                    </span>

                </li>

            </ul>
            <p>These contacts occurred in several clusters across the country, where a cluster is made up of at
                least {{ min_cases_in_cluster }} cases within {{ cluster_radius }}m of each other. A cluster is shown on
                the map if at least one case in it occurred in {{ time_description }}.</p>
            <div id="clusters-map" style="height: 40vh;"></div>
        </div>

    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Source for UK administrative area boundaries: Office for National Statistics licensed under the Open Government Licence v.3.0</span>
    </div>
</footer>


<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
<script>
    // Add the tooltips
    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>
<!-- Charting JS -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0/build/global/luxon.min.js"
        integrity="sha256-4sbTzmCCW9LGrIh5OsN8V5Pfdad1F1MwhLAOyXKnsE0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@0.2.1"></script>
<script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>

<script>
    let blue = 'rgb(54, 162, 235)';
    // will be removed when the actual data is plumbed in.
    let randomScalingFactor = function () {
        return Math.round(Math.random() * 200);
    };

    var dragOptions = {
        animationDuration: 1000
    };
    // setup data, settings for each chart
    const configs = {
        {% for current_data, prev_data, chart_title, tag in charts_data %}
            "{{tag}}": {
                type: 'line',
                data: {
                    datasets: [{
                        backgroundColor: blue, borderColor: blue,
                        data: [  {% for point in current_data %} {
                            x: "{{ point.day.isoformat }}",
                            y: {{ point.count|floatformat:3 }},
                        }, {% endfor %}

                        ], fill: false,
                    },

                        {#{#}
                        {#    backgroundColor: "#8383dd", borderColor: "#8383dd",#}
                        {#    data: [  {% for point in prev_data %} {#}
                        {#        x: "{{ point.day.isoformat }}",#}
                        {#        y: {{ point.count|floatformat:3 }},#}
                        {#    }, {% endfor %}#}
                        {#        {#}
                        {#            x: "{{ current_data.0.day.isoformat }}",#}
                        {#            y: {{ current_data.0.count|floatformat:3 }},#}
                        {#        }#}
                        {#    ], fill: false,#}
                        {# },#}

                    ]
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: '{{chart_title}} over {{ time_description }}'
                    },
                    legend: {display: false},
                    tooltips: {mode: 'index', intersect: false,},
                    hover: {mode: 'nearest', intersect: true},
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'day',
                            },
                            display: true
                        }], yAxes: [{
                            display: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                    plugins: {
                        zoom: {
                            zoom: {
                                enabled: true,
                                drag: dragOptions,
                                mode: 'x',
                                speed: 1
                            }
                        }
                    }
                }
            },
        {% endfor %}
    };

    const age_config = {
        type: 'bar',
        data: {
            labels: ["0-9", "10-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80+"],
            datasets: [
                {
                    label: "No. of tests",
                    data: [{% for no_tests in age_test_data %} {{ no_tests }} ,{% endfor %}],
                    borderColor: "#0000ff",
                    backgroundColor: "#8888ff"
                },
                {
                    label: "No. of positive tests",
                    data: [{% for no_tests in age_pos_data %} {{ no_tests }} ,{% endfor %}],
                    borderColor: "#ff0000",
                    backgroundColor: "#e35151"
                }
            ]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Tests by age group over {{ time_description }}'
                },
                tooltips: {mode: 'index', intersect: false,},
                hover: {mode: 'nearest', intersect: true},
                scales: {
                    xAxes: [{display: true}], yAxes: [{display: true}]
                }

            }
        },
    }

    window.onload = function () {
        // Add all of the charts to the page
        for (let [key, value] of Object.entries(configs)) {
            const ctx = document.getElementById(key).getContext('2d');
            new Chart(ctx, value);
        }
        const ctx = document.getElementById("age_chart_canvas").getContext('2d');
        new Chart(ctx, age_config);

    };


</script>

<!-- Cluster map JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script>
    const default_centre = [51, 0]
    const default_zoom = 7

    function style(feature) {
        return {
            fillColor: "red",
            weight: 2,
            opacity: 1,
            color: 'white',

            fillOpacity: 0.7
        };
    }

    function highlightFeature(e) {
        let layer = e.target;
        layer.setStyle({
            weight: 5,
            color: '#666',
            dashArray: '',
            fillOpacity: 0.7
        });

        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
    }

    const cluster_data = {{ clusters |geojsonfeature:"cluster_id,points_in_cluster:area"|safe }};

    const map = L.map("clusters-map").setView(default_centre, default_zoom);

    L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png?api_key=1a1a471a-99d2-4dd3-80e0-9d1fc70cd64e', {
        maxZoom: 20,
        attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
    }).addTo(map);


    let resetHighlight = (e) => {
        json.resetStyle(e.target);
    }

    let zoomToFeature = (e) => {
        map.fitBounds(e.target.getBounds());
    }

    let mapOnEachFeature = (feature, layer) => {
        layer.on({
            mouseover: highlightFeature,
            mouseout: resetHighlight,
            //click: zoomToFeature
        });
        if (feature.properties) {
            layer.bindPopup(`Cases in cluster: ${feature.properties.cluster_size}`);
        }
    }
    let json = L.geoJson(cluster_data, {
        style: style,
        onEachFeature: mapOnEachFeature
    }).addTo(map);

</script>
<!-- Area mapping scripts -->
<script>
    let maps = []
    {% for _, var_name,data in areas %}
        {
            const geojson_data =
                {{ data|geojsonfeature:"name,id,type,cluster_size:poly"|safe }};


            let map = L.map("{{ var_name }}-map").setView(default_centre, default_zoom)

            L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png?api_key=1a1a471a-99d2-4dd3-80e0-9d1fc70cd64e', {
                maxZoom: 20,
                attribution: 'Contains OS data &copy; Crown copyright and database right 2020,&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors',
            }).addTo(map);


            let resetHighlight = (e) => {
                json.resetStyle(e.target);
            }

            let zoomToFeature = (e) => {
                map.fitBounds(e.target.getBounds());
            }

            let mapOnEachFeature = (feature, layer) => {
                layer.on({
                    mouseover: highlightFeature,
                    mouseout: resetHighlight,
                    //click: zoomToFeature
                });
                if (feature.properties && feature.properties.alltime_count) {
                    layer.bindPopup(`Cases in entire pandemic: ${feature.properties.alltime_count}`);
                }
            }
            let json = L.geoJson(geojson_data, {
                style: style,
                onEachFeature: mapOnEachFeature
            }).addTo(map);

            maps["{{ var_name }}"] = map;
        }

    {% endfor %}


    // Update the maps when changing tab so they actually load properly.
    const tabEls = document.querySelectorAll('button[data-bs-toggle="tab"]')
    tabEls.forEach(el => el.addEventListener('shown.bs.tab', function (event) {
            console.log(event.target)
            maps[event.target.dataset["bsTarget"].split("-")[1]].invalidateSize();
        })
    )


</script>
</body>
</html>
